binaries/
platform_specific_game_data/
*.ani
*.anim
*.bin
*.bnk
*.cache
*.cur
*.dat
*.dds
*.mesh
*.mp3
*.obj
*.otf
*.png
*.psd
*.splnet
*.tga
*.tif
*.ttf
*.wem

game/in_game/gfx/map/map_objects/generated/jungle_dense_generator*
game/in_game/gfx/map/map_objects/generated_map_object_locators*
game/in_game/gfx/terrain2/terrain_cache/*.info
game/loading_screen/sound/banks/windows/SoundbanksInfo.*
game/loading_screen/sound/banks/windows/sb_world_media.txt
